* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family:'Lato', sans-serif;
    --font-secondary:"Roboto", sans-serif;
    --bg-color: #f7f7f7;
}

body {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#window {
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 
    "main aside";

    height: 85vh;
    width: 80%;
    margin-block: 3%;
}

.no-copy {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

@media (width <= 100rem) {
    main {
        zoom: 80%;
    }
}

@media (width <= 85.375rem) {
    main {
        zoom: 69%;
    }
}

@media (width <= 80rem) {
    main {
        zoom: 60%;
    }
}