main {
    grid-area: main;
    background-color: var(--bg-color);
}

#logo {
    display: flex;
    width: 100%;
    height: 20%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    img {
        transform: scale(1.2);
    }
}

form {
    box-sizing: border-box;
    height: 65%;
    margin: 0 20px 20px 20px;
    border: 1px solid violet;
}

.input-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    outline: none;
    box-shadow: none;
    cursor: text;

    width: 100%;
    height: 50px;
    padding: 24px 12px 6px;
    /* gap: 1rem; */

    border-radius: 5px;
    background-color: #eaeaea;

    font-size: 1rem;
    font-family: var(--font-family);
    /* font-size: 12px; */
}
 
input[type="text"]:hover,
input[type="password"]:hover {
    background-color: #d9d9d9;
    cursor: text;
}

input[type="text"]:focus-within
,input[type="password"]:focus-within {
    border: 2px solid #000;
    background-color: var(--bg-color);
}

label {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;

    height: 50px;
    left: 12px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(74, 74, 74, 0.9);

    transition: 0.1s ease all;
}
   
input[type="text"]:focus-within + label
,input[type="password"]:focus-within + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="password"]:not(:placeholder-shown) + label {
    top: -13px;
    font-size: 11px;
    color: #000;
}

#other-login {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* border: 1px solid pink; */
    margin-top: 30px;
    button {
        display: inline-block;
        all: none;
        border: none;
        box-sizing: border-box;
        height: 32px;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        object-fit: cover;
        
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}